<h1>Employees Index</h1>
 <ul>
    <% @employees.each do |e| %>
    <li>
        <%= link_to e.first_name, employee_path(e) %>
    </li>
     <% end %>
 </ul>
<p><%= link_to "Add a New Employee", new_employee_path %></p>
